.header {
    padding: 10px;
    text-align: center;
    background: url("header1.jpg");
    color: #e5e9f0;
    text-shadow: 5px 5px #2e3440;
}
body {
    background-color: #2e3440;
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2e3440;
    position: sticky;
    top: 0;
    width: 100%;
}
  
li {
    float: left;
    border-right: 2px solid #d8dee9;
}
  
li a {
    display: block;
    font-size: 15pt;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: #04AA6D;
}

body {
    background-color: #88c0d0;
}